{% extends "layout/base_admin.html" %}
{% block content %}

<h1>🤝 Funcionários</h1>

<button class="btn" onclick="window.location.href='/admin_page/colaboradores/novo'">
  + Adicionar Funcionário
</button>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Idade</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for func in funcionarios %}
    <tr>
      <td>{{ func.nome }}</td>
      <td>{{ func.cargo }}</td>
      <td>{{ func.email }}</td>
      <td>{{ func.telefone }}</td>
      <td>{{ func.idade }} anos</td>
      <td>
        <button class="btn"
                onclick="window.location.href='/admin_page/colaboradores/editar/{{ func.id_funcionario }}'">
          Editar
        </button>

        <button class="btn btn-danger"
                onclick="if(confirm('Tem certeza que deseja excluir este funcionário?')) { window.location.href='/admin_page/colaboradores/excluir/{{ func.id_funcionario }}' }">
          Excluir
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
