{% extends "layout/base_admin.html" %}
{% block content %}

<h1>📦 Produtos</h1>

<button class="btn" onclick="window.location.href='/admin_page/produtos/novo'">+ Adicionar Produto</button>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for p in produtos %}
    <tr>
      <td>{{ p.nome_produto }}</td>
      <td>R$ {{ "%.2f"|format(p.preco_unitario) }}</td>
      <td>{{ p.quantidade_estoque }}</td>
      <td>
        <button class="btn" onclick="window.location.href='/admin_page/produtos/editar/{{ p.id_produto }}'">Editar</button>
        <button class="btn btn-danger" onclick="window.location.href='/admin_page/produtos/excluir/{{ p.id_produto }}'">Excluir</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
