{% extends "layout/base_admin.html" %}
{% block content %}
<h1>👥 Usuários</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for u in usuarios %}
    <tr>
      <td>{{ u.nome }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.telefone }}</td>
      <td>
        <button 
          class="btn btn-danger" 
          onclick="if(confirm('Tem certeza que deseja excluir este usuário?')) { window.location.href='/admin_page/usuarios/excluir/{{ u.id_usuario }}'; }"
        >
          Remover
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}